<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fortysevendeg.scala.android"
          android:versionCode="3"
          android:versionName="1.2">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="21"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:label="@string/app_name"
            android:icon="@drawable/icon_app"
            android:theme="@style/AppTheme">

        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="@string/google_map_key"/>

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity
                android:label="@string/app_name"
                android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.ripplebackground.RippleBackgroundActivity"/>

        <activity android:name=".ui.textstyles.TextStylesActivity"/>

        <activity android:name=".ui.circularreveal.CircularRevealActivity"/>

        <activity android:name=".ui.pathmorphing.PathMorphingActivity"/>

        <activity android:name=".ui.googlemaps.GoogleMapsActivity"/>

        <activity android:name=".ui.akkasimon.AkkaSimonActivity" />

        <activity android:name=".ui.apirequest.ForecastApiRequestActivity" />

        <activity android:name=".ui.materiallist.MaterialListActivity" />

    </application>
</manifest>
